SECURITY__JWT_SECRET_KEY=your_jwt_secret_key_here
SECURITY__BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8001"]
SECURITY__ALLOWED_HOSTS=["localhost", "127.0.0.1"]
SECURITY__INTERNAL_API_KEY=internal-api-key-change-me

DATABASE__HOSTNAME=postgres_db
DATABASE__USERNAME=your_database_username_here
DATABASE__PASSWORD=your_database_password_here
DATABASE__PORT=5432
DATABASE__DB=default_db